$font-size: 16px;
$font-family: Arial, Helvetica, sans-serif;
$primary-background-color: white;
$secondary-background-color: #e0e4cc;
//$border-color: black;

body {
  font-size: $font-size;
  font-family: $font-family;
}

.title {
  font-size: 200%;
}

.header {
  font-family: Cambria, "Times New Roman", serif;
}

.navbar {
  @extend .header;

  a {
    color: black;
    text-decoration: none;
  }
}

.section {
  background-color: $secondary-background-color;
  //border: 2px solid $border-color;
  text-align: justify;

  .section-header {
    font-size: 150%;
    //border: 2px solid $border-color;
  }

  #Lorem {
    background-color: #69d2e7;
  }

  #Ipsum {
    background-color: #f38630;
  }

  #Dolor {
    background-color: #e9aeaf;
  }
}

.footer {
  background-color: $secondary-background-color;
  //border-top: 2px solid $border-color;

  em {
    font-weight: bold;
  }
}
