$spacing: 16px;
$text-padding: 32px 16px;
$border-width: 2px;
$border-style: $border-width solid black;

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  margin: $spacing;
  padding: $spacing;
  flex-shrink: 0;
  overflow: hidden;

  * {
    float: left;
  }

  .logo {
    height: 100px;
  }

  .title {
    margin: $spacing;
  }
}

.navbar {
  float: right;

  a {
    text-align: center;
    width: 40px;
    padding: 12px;
  }

  a.icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    border: $border-style;
    border-radius: 16px;
  }
}

.content {
  flex: 1 0 auto;
  padding: $spacing;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.section {
  float: left;
  margin: $spacing;
  border: $border-style;

  p {
    padding: $text-padding;
  }

  .section-header {
    width: 160px;
    padding: 8px;
    margin-top: -$border-width;
    margin-right: -$border-width;
    margin-left: auto;
    text-align: center;
    border: $border-style;
  }
}

.footer {
  flex-shrink: 0;
  padding: $text-padding;
  text-align: center;
  border-top: $border-style;

  em {
    display: table;
    margin: 0 auto;
  }
}

@media only screen and (max-width: $threshold-large - 1px) {
  .navbar {
    position: relative;
    padding-top: 120px;

    a {
      display: none;
    }

    a.icon {
      display: block;
    }
  }

  .navbar.responsive {
    display: inherit;
    float: none;

    a {
      display: block;
    }

    $menu-border-style: 1px solid lightgray;

    a:not(.icon) {
      float: none;
      width: auto;
      height: 20px;
      border-bottom: $menu-border-style;
    }

    a:first-child {
      border-top: $menu-border-style;
    }
  }
}

@media only screen and (max-width: $threshold-medium - 1px) {
  .title {
    display: none;
  }
}
