$spacing: 16px;
$text-padding: 32px 16px;
$border-width: 2px;
$border-style: $border-width solid black;

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  margin: $spacing;
  padding: $spacing;
  flex-shrink: 0;
  overflow: hidden;

  * {
    float: left;
  }

  .logo {
    height: 100px;
  }

  .title {
    margin: $spacing;
  }
}

.navbar {
  float: right;

  a {
    text-align: center;
    width: 40px;
    padding: 12px;
  }
}

.content {
  flex: 1 0 auto;
  padding: $spacing;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.section {
  float: left;
  margin: $spacing;
  border: $border-style;

  p {
    padding: $text-padding;
  }

  .section-header {
    width: 160px;
    padding: 8px;
    margin-top: -$border-width;
    margin-right: -$border-width;
    margin-left: auto;
    text-align: center;
    border: $border-style;
  }
}

.footer {
  flex-shrink: 0;
  padding: $text-padding;
  text-align: center;
  border-top: $border-style;

  em {
    display: table;
    margin: 0 auto;
  }
}
